body{
    overflow-x: hidden;
}
.top-header .container{
    display: flex;
    justify-content: space-between;
}
.info-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    padding: 1rem;
}
.info-title{
    font-weight: 700;
    color: #555;
}
.info-detail{
    font-size: 1.3rem;
    color: orange;
}
.jumbotron{
    background-color: #0072b8 !important;
}
.jumbotron-details{
    text-align: center;
    color: #fff;
}
.navbar{
    border-top: 1px solid grey;
}
#menu-main-menu{
    display: flex;
    list-style: none;
}
#menu-main-menu li a{
    color: #555555;
    font-size: 1.2rem;
    font-weight: 600;
}
#menu-main-menu li a{
    display: block;
    padding: .5rem 1rem;
}
ul{
    margin: 0 !important;
}
.section-1{
    padding-bottom: 1rem;
}
.section-1 .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(5rem,1fr));
    grid-gap: 1rem;
}
.col-title{
    font-size: 1.4rem;
    font-weight: 600;
    padding: 1rem 0;
}
.col-description{
    padding-bottom: 1rem;
}
.section-2{
    padding-top: 40px;
}
#article{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 1rem;
}
h1{
    text-align: center;
}
.section-2 .row{
    padding-top: 20px;
}
.section-2 .thumbnail img{
    width: 350px;
    height: 250px;
}
.green{
    background-color: #3cb371;
    color: #fff;
}






footer{
    left: 0;
    bottom: 0;
    width: 100%;
    background: #555555;
    color: #fff;
    padding-top: 1rem;
}
footer .container{
    padding: 1rem;
}